# secrets
.env
*.env
app/backend/config/.env

# python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# chromadb local data
*.sqlite3
chroma_data/
**/chroma_db/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# logs
*.log

#sqlite
events.db

#peronal
app/backend/data/thunder.md
app/backend/data/

#testing
test_mic.py

#voice models
app/backend/voice/models/

# voice diagnostic audio dumps (written by stt.py DEBUG_AUDIO mode)
voice_debug/

#cyclone's first words
*.wav
tts_tuning_output/